<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings file="AppSettings.config">
    <add key="PathToDriver" value="d:\_Dating\"/>
    <add key="PathToFireFox" value="c:\Program Files\Mozilla Firefox\firefox.exe"/>
    <add key="NameOfDriver" value="geckodriver.exe"/>
  </appSettings>
</configuration>